services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: startupsFromAI
    volumes:
      - postgres_data:/var/lib/postgresql/data

  startups-from-ai:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: startups-from-ai
    environment:
      HEADLESS: true
      MAX_REQUESTS: 100
      GEMINI_API_KEY: add_your_gemini_api_key
      DELAY_MS: 30000
      MONGODB_CONNECT_URL: add_you_MongoDB_url
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/startupsFromAI
      X_POST_API_ENDPOINT: https://api.x.com/2/tweets
      X_APP_KEY: add_your_app_key
      X_APP_SECRET: add_your_add_secret
      X_ACCESS_TOKEN: add_your_access_token
      X_ACCESS_TOKEN_SECRET: add_your_access_secret_token
      DEVTO_API_KEY: add_your_dev.to_api_key
      DEVTO_BASE_URL: https://dev.to/api
      BEARER_TOKEN: add_your_dev.to_bearer_token
      PRODUCT_HUNT_API_URL: https://api.producthunt.com/v2/api/graphql
      BETTER_STACK_SOURCE_TOKEN: add_your_better_stack_source_token
      BETTER_STACK_ENDPOINT: https://s1609300.eu-nbg-2.betterstackdata.com
    command: sh -c "pnpm run db:migrate && node dist/src/index.js"
    depends_on:
      - postgres


volumes:
  postgres_data:
